* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bahnschrift;
}

body {
    background-color: cornflowerblue;
}


.container {
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100%;
}

/*-------CONTENIDO SIDEBAR------*/
.sidebar {
    position: fixed;
    height: 100vh;
    width: 200px;
    background-color: #fff;
    border-right: 2px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    top: 0;
    left: 1px;
}

.logo {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 20;
    gap: 5px;
    margin-bottom: 10px;
    align-items: center;
}

    .logo h2 {
        font-family: 'Yeseva One', serif;
        font-size: 25px;
        color: #1F2B86;
        margin: 0;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s;

}

    .menu-item .icon-left {
        width: 20px;
        height: 20px;
        object-fit: contain;
        position: relative;
        margin-right: 10px;
    }

    .menu-item:hover,
    .menu-item.active {
        background-color: #e3f2fd;
        color: #187bcd;
    }

/*-------CONTENIDO HEADER------*/
.main-content {
    flex: 1;
    margin-left: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    margin-bottom: 20px;
    text-align: center;
    color: whitesmoke;
}

    header img {
        width: 10px;
        height: 10px;
    }

.user-container {
    position: absolute;
    display: flex;
    align-items: center;
    top: 20px;
    right: 40px;
    gap: 10px;
    font-size: 16px;
    max-width: 200px
}

    .user-container .username {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-container img {
        width: 40px;
        height: auto;
    }

.title {
    
}


/*-------CONTENIDO PRINCIPAL------*/
.content-box {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: 100%;
    margin: 0 auto;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 70px; /* filas y columnas */
    margin-top: 30px;
}


.form-grid-medicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px 70px; /* filas y columnas */
    margin-top: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-label {
    grid-column: span 2; /* si usás grid */
    margin-bottom: 5px;
    font-weight: bold;
}

.availability-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.availability-top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.availability-times {
    display: flex;
    gap: 10px;
}


.names {
    flex-direction: row;
    gap: 10px;
}

.input-text,
select,
input[type="text"] {
    width: 100%;
    margin: 3px 0;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
}

    .input-text:focus {
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
        outline: none;
    }

.form-footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-confirm {
    width: 60%;
    padding: 12px;
    margin: 30px auto 0 auto;
    background-color: #159EEC;
    border: none;
    font-family: "Work Sans", sans-serif;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

    .btn-confirm:hover {
        background-color: #117FBF;
    }

.checkbox-inline td {
    padding-right: 15px; 
}

.checkbox-inline input[type="checkbox"] {
    margin-right: 3px; 
}

.radio-inline td {
    padding-right: 15px;
}

.radio-inline input[type="radio"] {
    margin-right: 3px;
}

/*--- POP UP STYLE ----*/
.modalBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    gap: 15px;
}

.confirm-button, .cancel-button{
    font-size: 14px;
    font-weight: bold;
    margin: 20px 5px 0 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    padding: 10px;
    border: none;
}

.confirm-button {
    background-color: #DB0C00;
    color: white;
}

.confirm-button-add {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 5px 0 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    padding: 10px;
    border: none;
    background-color: forestgreen;
    color: white;
}

.cancel-button {
    background-color: darkgray;
    color: black;
}

.confirm-button:hover {
    background-color: darkred;
}

.confirm-button-add:hover {
    background-color: green;
}

.cancel-button:hover {
    background-color: gray;
}

.logout-button {
    background: url('/Imagenes/logout.png') no-repeat 10px center;
    background-size: 20px 20px;
    border: none;
}

.logout {
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    margin-top: auto;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
    padding: 10px;
    gap: 5px;
}

    .logout:hover {
        color: red;
        background-color: rgba(255, 0, 0, 0.2);
    }